/* *** my styles *** */

/* *** header *** */
header .my_header-top {
    height: 50px;
    background-color: black;
}

header .my_header-bottom {
    height: 80px;
    background-color: white;
}

/* *** main *** */
main .new-game {    
    background-color: #1f1f1f;
}

/* *** debug *** */
.debug .jumbo {
    height: 500px;
    background-color: lightgrey;
}

.debug .my_box {
    height: 80px;
    background-color: lightskyblue;
    border:  1px solid black;
}

.debug .game {
    background-color: mediumaquamarine;
}
