/* *** my styles *** */

/* *** header *** */
header .my_header-top {
    height: 50px;
    background-color: black;
}

header .my_header-bottom {
    height: 80px;
    background-color: white;
}

/* *** navbar *** */

.my_rounded {
    border-radius: 1.2rem;
}

.my_w-25 {
    width: 25px;
}

/* *** jumbo *** */
.jumbo  {
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbo .my_red-btn {
    color: white;
    background-color: #cd3d0f;
}

/* *** main *** */
main .new-game {    
    background-color: #1f1f1f;
}

main .gray  {
    background-color: #bebcbb;
}

.image-block img {
    display: none;
}

main .blu {
    background-color: #161c3b;
}

main .hide {
    display: none;
}

/* *** footer *** */
footer {
    background-color: #00439c;
}

/* *** media query *** */
@media screen and (min-width: 768px) {
    main .image-block img {
        display: flex;
        width: 100%;
    }

    main .hide {
        display: inline-block;
        margin: 10px 0;
    }

    footer .link {
        display: flex;
    }
} 

/* *** debug *** */
/* .debug .jumbo {
    background-color: lightgrey;
} */

.debug .my_box {
    height: 80px;
    background-color: lightskyblue;
    border:  1px solid black;
}

.debug .game {
    background-color: mediumaquamarine;
}

.debug .links {
    height: 20px;
    width: 50%;
    background-color: lightslategrey;
    border: 1px solid white;
}
