/* *** my styles *** */

/* *** header *** */
header .my_header-top {
    height: 50px;
    background-color: black;
}

header .my_header-bottom {
    height: 80px;
    background-color: white;
}

/* *** main *** */
main .new-game {    
    background-color: #1f1f1f;
}

main .gray  {
    background-color: #bebcbb;
}

.image-block img {
    display: none;
}

main .blu {
    background-color: #161c3b;
}

/* *** footer *** */
footer {
    background-color: #00439c;
}

/* *** media query *** */
@media screen and (min-width: 768px) {
    main .image-block img {
        display: flex;
        width: 100%;
    }

    footer .link {
        display: flex;
    }
} 

/* *** debug *** */
.debug .jumbo {
    height: 500px;
    background-color: lightgrey;
}

.debug .my_box {
    height: 80px;
    background-color: lightskyblue;
    border:  1px solid black;
}

.debug .game {
    background-color: mediumaquamarine;
}

.debug .links {
    height: 20px;
    width: 50%;
    background-color: lightslategrey;
    border: 1px solid white;
}
